<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Angular-color-selectbox : Simple popup color menu as an angular directive">

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <link rel="stylesheet" href="/dist/angularjs-color-selectbox.min.css" />
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css" />

    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/lodash/dist/lodash.min.js"></script>

    <script src="/dist/angularjs-color-selectbox.js"></script>
    

    <title>Angular-color-selectbox</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/kaleguy/angular-color-selectbox">View on GitHub</a>

          <h1 id="project_title">Angular-color-selectbox</h1>
          <h2 id="project_tagline">Simple popup color menu as an angular directive</h2>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/kaleguy/angular-color-selectbox/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/kaleguy/angular-color-selectbox/tarball/master">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">

        <body ng-app="app" ng-controller="AppCtrl as vm">
        <div>
          <div style="text-align:center">
            <h1>AngularJS Color Selectbox</h1>

            <div style="margin-left:0px">
              <div ng-repeat="(key, value) in vm.accounts">
                <div class="line">
                  <span>Pick A Color </span>
                  <i class="hand fa fa-hand-o-right"></i>

                  <color-selectbox
                          onselect="vm.onSelectColor"
                          item="value"
                          position="'right'"
                          color="value.color">
                  </color-selectbox>
                </div>
              </div>
              <div style="height:0px"></div>
              <div ng-repeat="(key, value) in vm.accounts">
                <div class="line">

                  <color-selectbox
                          onselect="vm.onSelectColor"
                          item="value"
                          size="'small'"
                          autohide="true"
                          color="value.color">
                  </color-selectbox>
                  <i class="hand fa fa-hand-o-left"></i>
                  <span>Pick A Color (&amp; hide menu)</span>
                </div>
              </div>
              <div style="height:20px"></div>
              You Picked: <input ng-value="vm.color"></input>

            </div>
          </div>
        </div>
        </body>




      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Angular-color-selectbox maintained by <a href="https://github.com/kaleguy">kaleguy</a></p>
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    

  </body>
</html>
