<html>
<head>
    <title>Example 1 - Simple</title>

    <link rel="stylesheet" href="../dist/angularjs-color-selectbox.min.css" />
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css" />

    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/lodash/dist/lodash.min.js"></script>

    <script src="../dist/angularjs-color-selectbox.js"></script>

    <script src="app.js"></script>
    <script>
        var cpSize = 25;
    </script>
    <style type="text/css">
        BODY {font-family: Verdana;margin-top:20px}
        H1 {margin-bottom:40px}
        .line {margin:20px;}
    </style>
</head>
<body ng-app="app" ng-controller="AppCtrl as vm">
<div>
    <div style="text-align:center">
        <h1>AngularJS Color Selectbox</h1>

        <div style="margin-left:0px">
            <div ng-repeat="(key, value) in vm.accounts">
                <div class="line">
                    <span>Pick A Color </span>
                    <i class="hand fa fa-hand-o-right"></i>

                    <color-selectbox
                        onselect="vm.onSelectColor"
                        item="value"
                        position="'right'"
                        color="value.color">
                    </color-selectbox>
                </div>
            </div>
           <div style="height:0px"></div>
            <div ng-repeat="(key, value) in vm.accounts">
                <div class="line">

                    <color-selectbox
                        onselect="vm.onSelectColor"
                        item="value"
                        size="'small'"
                        autohide="true"
                        color="value.color">
                    </color-selectbox>
                    <i class="hand fa fa-hand-o-left"></i>
                    <span>Pick A Color (&amp; hide menu)</span>
                </div>
            </div>
            <div style="height:20px"></div>
            You Picked: <input ng-value="vm.color"></input>

        </div>
    </div>
</div>
</body>
</html>
